<form #f="ngForm" (ngSubmit)="submitContact(); f.reset();">

  <!--
   Grâce à la variable #f
  plus haut, je peux connaître
  l'état de la validation du formulaire
   -->

  <h5 class="text-center m-4">
    Ajouter un contact
  </h5>

  <pre>{{ nouveauContact | json }}</pre>
  {{ f.valid }}
  <div class="form-group">
    <input type="text"
           name="name"
           required
           #name="ngModel"
           [(ngModel)]="nouveauContact.name"
           [class.is-invalid]="name.touched && name.invalid"
           placeholder="Saisissez votre nom complet"
           class="form-control">
    <div class="invalid-feedback">
    </div>
  </div>
  <div class="form-group">
    <input type="text"
           name="username"
           required
           #username="ngModel"
           [(ngModel)]="nouveauContact.username"
           [class.is-invalid]="username.touched && username.invalid"
           placeholder="Saisissez votre pseudo complet"
           class="form-control">
  </div>
  <div class="form-group">
    <input type="email"
           name="email"
           required
           #email="ngModel"
           [(ngModel)]="nouveauContact.email"
           [class.is-invalid]="email.touched && email.invalid"
           placeholder="Saisissez votre email complet"
           class="form-control">
  </div>
  <button type="submit"
          [disabled]="f.invalid"
          class="btn btn-block btn-primary">
    Créer le contact
  </button>

</form>
